
<footer>
  <div class="contentFooter">
    <span class="offerText">Lux<span class="colorRed">Car</span></span>
    <h2 class="footerHeader">Kontakt</h2>
    <a class="footerLink" href="tel:123-456-789">123-456-789</a>
    <br>
    <a class="footerLink" href="mailto:przykładowy@op.pl">przykładowy@op.pl</a>
    <p class="footerInfo">Strona stworzona w celach edukacyjno prezentacyjnych.</p>
  </div>
</footer>
