{% block header %}

<header>
  <div class="topBar">
    <span class="logoText">LuxCar</span>
    <span class="topBarItems">
      <a class="topBarItem" href="#">Logowanie</a>
      <a class="topBarItem" href="#">Rejestracja</a>
    </span>
    <span id="toggle" onClick="onClickMenu()">&#9776;</span>
  </div>
  <nav id="navigation" class="nav">
    <a class="item" href="#">Pozyja 1</a>
    <a class="item" href="#">Pozyja 2</a>
    <a class="item" href="#">Pozyja 3</a>
    <a class="item" href="#">Pozyja 4</a>
    <a class="item" href="#">Pozyja 5</a>
  </nav>
  asdsaasdadsf asdfd dsa sda asd adsdads
</header>

{% endblock %}
