{% extends 'Views/Layout/layout.html.twig' %}

{% block content %}

<div class="offerInfo">
  <h1 class="offerHeader">NASZA OFERTA</h1>
  <p class="offerHeaderText">Spełnij swoje marzenia zasiadając za sterami najlepszych aut!</p>
</div>

{% for car in cars %}
<div class="offerElement">
  <h2 class="offerTitle">{{car.brand}} {{car.model}}</h2>
  <img class="aofferImg" src="{{asset('img/' ~ car.imageMainUrl)}}">
  <a class="offerButton offerPriceButton" href="{{url('offer', {'id': car.id})}}">SPRAWDŹ CENNIK</a>
</div>
{% endfor %}

{% endblock %}
