{% extends 'Views/Layout/layout.html.twig' %}

{% block content %}

<div class="reservation">
  <h1 class="offerHeader">Sukces!</h1>
  <p class="offerHeaderText">Auto zostało zarezerwowane.</p>
  <a class="offerButton offerPriceButton" href="{{url('Index')}}">STRONA GŁÓWNA</a>
</div>

{% endblock %}
